.main
{
  margin: 0 auto;
  max-width: 840px;
  text-align: center;
  font-family: sans-serif;
  padding: 0px;
  background-color: #fdf6e3;
  color: #004C4C
}	

#div1
{
  float: left;
  position: relative;
  top: -15px;
  width: 280;
}	

.chartTitle
{
text-align: center;
}

input
{

	margin:10px;

}	
